<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/9e7bc46c24.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6af4ecbb39.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/41bdce1ad7.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4907559fcc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/navigation.css">
    <link rel="stylesheet" href="~/css/colors.css">
    <link rel="stylesheet" href="~/css/utilities.css">
    <link rel="stylesheet" href="~/css/landing-page.css">
    @RenderSection("styles", false)
    <title>@ViewBag.PageTitle - Westcoast Education</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <h1 class="logo"><span class="text-primary"><i class="fa-solid fa-school"></i>Westcoast </span>Education</h1>
            <ul>
                <a asp-action="index" asp-controller="Home">Start</a>
                <a asp-action="index" asp-controller="Courses">Kurser</a>
                <a asp-action="index" asp-controller="Persons">Användare</a>
                <a asp-action="index" asp-controller="Admin"><i class="fa-solid fa-gear"></i></a>
                
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
