@{
    ViewBag.PageTitle = "Våra Kurser";
}



<div class="landing">
    <div class="content">
        <h1>Kurser vi erbjuder!</h1>
        <section>
        @foreach (var course in Model)
        {
            <div class="course-box">
                <a asp-action="details" asp-route-courseId=@course.CourseId>@course.CourseName</a>
            </div>
        }
    </section>
    </div>
</div>
