:root {
    --primary-color: #dfa70d;
    --secondary-color: #00796b;
    --dark-color: #212121;
    --light-color: #f4f4f4;
    --primary-text-color: #dfa70d;
    --primary-background-color: #bfbdbd;
    --primary-border-color: rgb(235, 225, 225);
  }